body
{
  width: 612pt; /* Width of Letter-Size paper in points */
}
h1, h2
{
  text-align: center;
}
table.Container
{
  align: center;
  
  width: 90%;
}
th
{
  text-align: left;
}
table.Container tr.Score div,
table.Container tr.Score table
{
  border: 2px solid black;
}
table.Container div,
table.Container table
{
  border: 1px solid black;
  width: 100%;
}
#FinalScore
{
  border: 2px solid black;
}
#Signature
{
  height: 50pt;
}
